body {
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(169, 169, 169, 0.571) !important;
}

.detalle-contenedor {
  min-height: 64vh;
}

.carrito-serv{
  min-height: 69vh;
}

.irhome{
  color: rgb(74, 109, 175) !important
}

.contenedor-detalle-servicio{
  min-height: 73vh;
}

.caja-login{
  min-height: 69vh;
}

.caja-registro{
  min-height: 69vh;
}

.servicio-contratado {
  min-height: 69vh;
}

.tabla-crear{
  min-height: 66vh;
}

.servicio-unique-contenedor {
  padding: 1rem;
  border: 1px solid rgb(196, 196, 196);
  width: 80%;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 69vh;
}

.eliminar-lista-total-pagar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.eliminar-compras {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.total-pagar button {
  width: 10rem;
}

.active {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.active:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.no-active {
  color: rgb(180, 180, 183);
  text-decoration: none;
}

.no-active:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.categoria {
  margin-left: 1rem;
}

.carrito-vacío img {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.banner {
  flex-direction: column;
  display: flex;
  height: 100%;
  gap: 1rem;
  align-items: center;

  color: white;
}

.hr-banner {
  width: 90%;
  margin: auto;
}

.contenedor-banner {
  background-size: contain;
  background-repeat: repeat;
  padding: 3rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../src/assets/iconos/palomo-banner.jpeg");
}

.titulo h5 {
  text-decoration: none !important;
  font-weight: 600;
  margin: 0;
}

.servicio-palomo {
  display: flex;
  flex-direction: row;
  align-content: center;  
  width: 100%;
}

.form-img-detalle{
  width: 35%;
  height: 20%;
  margin-left: 5vh;
  margin-right: 10vh;

}

.descripcion {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.cont-precio-btn{

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25%;
  width: 80%;

}

.foto-servicio {
  width: 100%;
  height: 100%;
}

/* Navbar */

.navbar {
 /*  display: flex;
  flex-direction: row;
  justify-content: space-evenly; */
  background-color: rgb(74, 109, 175);
 /*  padding: 1rem;
  height: 13vh; */
}

.titulo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-left: 5rem;
}

.imagen-nav {
  width: 4rem;
  height: 4rem;
}

.titulo h3 {
  text-decoration: none !important;
  font-weight: 600;
  color: white;
  margin: 0;
}

.form-cont-login {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 18%;
  margin-left: 20vh;
}

.form-tit-navbar {
  text-decoration: none !important;
  font-weight: 600;
  color: white;
  margin: 0;
}

.carrito {
  display: inline-block;
 /* flex-direction: row;
  align-items: center;
  width: 20%;
  justify-content: center; */
}

.cont-titulo-car {
  text-decoration: none !important;
  font-weight: 600;
  color: white;
  margin: 0;
  width: 30%;
}

.cont-img-car {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-img-car {
  color: white;
  width: 7vh;
  height: 7vh;
}

@media (max-width: 767px) {
  span .palomo{
    display:none;
  }
  .nav {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    height: 13vh;
    justify-content: space-evenly;
    gap: 0;
  }

  .titulo {
    width: 45vh;
    display: flex;
    margin-left: 0;
  }

  .imagen-nav {
    width: 8vh;
    height: 8vh;
  }

  .titulo h3 {
    font-size: large;
  }

  .form-cont-login {
    width: 21vh;
    display: flex;
    justify-content: flex-end;
    margin-left: 0;
  }

  .form-tit-navbar {
    font-size: medium;
  }

  .carrito {
    width: 30vh;
  }

  .cont-titulo-car {
    font-size: medium;
    display: flex;
  }

  .form-img-car {
    width: 6vh;
    height: 6vh;
  }

  .servicio-palomo {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
  }

  .form-img-detalle{
    width: auto;
    height: auto;

  }

  .descripcion {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
  }

  .servicio-unique-contenedor {
    width: 50%;
  }

}

@media (max-width: 991px) {
  .nav {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    height: 13vh;
    justify-content: space-evenly;
    gap: 0;
  }

  .titulo {
    width: 55vh;
    margin-left: 0;
  }

  .imagen-nav {
    width: 9vh;
    height: 9vh;
  }

  .titulo h3 {
    font-size: x-large;
  }

  .form-cont-login {
    width: 30vh;
    display: flex;
    justify-content: flex-end;
    margin-left: 6vh;
  }

  .form-tit-navbar {
    font-size: x-large;
  }

  /* .carrito {
    width: 20vh;
    gap: 0;
  }
 */
  .cont-titulo-car {
    font-size: medium;
  }

  .servicio-palomo {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
  }

  .form-img-detalle{
    width: auto;
    height: auto;
  }

  .descripcion {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
  }
  .servicio-unique-contenedor {
    width: 70%;
  }
}

.hr-banner {
  width: 90%;
  margin: auto;
}

.contenedor-service {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  margin: auto;
  margin-top: 5rem;
}

.imagen-boton {
  width: 1.1rem;
  height: 1.1rem;
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.precio {
  text-align: center;
}

.tabla-datos {
  min-height: 70vh;
  padding: 5rem;
}

.tabla-datos-admin {
  min-height: 74vh;
  padding: 5rem;
}

.table {
  border: 1px solid;
}
/* Card Servive */


.carta {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 1rem;
}

.card {
  width: 17rem;
}

.cont-img-card{

  width: 100%;
  height: 35vh;
  

}

.card-img-top{
  width: 100%;
  height: 100%;

}

.caja-img{
min-height: 25rem;
}


.cont-descripcion{
  min-height: 14vh;
  text-align: justify;

}
.precio-servicio-unico {
  /* border: 1px solid rgb(196, 196, 196); */
  width: 70rem;
  margin: auto;
}

.descripcion {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.detalle {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.imagen-detalle {
  width: 4em;
  height: 3em;
}

.detalle ul {
  list-style: none;
}

.detalle li {
  padding: 2rem;
}

.detalle-compra {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detalle-botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 1rem;
}

.detalle-imagen-nombre {
  display: flex;
  flex-direction: row;

  gap: 1rem;
  align-items: center;
}

.dashboardMensajero {
  border-radius: 1%;
  border: solid grey 0.3mm;
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.heart-button {
  display: inline-block;
  border: none;

  display: inline-block;
  text-align: center;
  margin-left: 5px;
}

/* dashboardadmin */
.dashboardadmin {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 74vh;
}

.caja-admin {
  cursor: pointer;
  margin: 3rem 1.5rem 3rem;
}

.caja-admin-dash:hover {
  background-color: rgb(50, 176, 176);
}

.caja-admin-dash img {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
}

.imagen-dashAdmin {
  display: flex;
  justify-content: center;
}

.tabla-datos-admin-servicios{
  min-height: 74vh;
  padding: 5rem;
}

.editar {
  font-size: 1.3rem;
}

.boton-editar {
  padding: 0.2 !important;
}

.eliminar {
  font-size: 1.3rem;
}

.opciones{
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  color: white;
}
.opciones .form-img-icons{
  width: 2.5rem;
  gap: 0;
}

a:link {text-decoration: none; font-size: 20px; }
a:hover { color: white; text-decoration: none }
a:visited {color: white;  text-decoration: none }